apiVersion: apps/v1
kind: Deployment
metadata:
  name: homepage
  namespace: homepage
  labels:
    app: homepage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: homepage
  template:
    metadata:
      labels:
        app: homepage
    spec:
      containers:
        - name: homepage
          image: ghcr.io/gethomepage/homepage:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 3000
          envFrom:
            - secretRef:
                name: homepage-secrets
          volumeMounts:
            - name: config
              mountPath: /app/config
      volumes:
        - name: config
          projected:
            sources:
              - configMap:
                  name: homepage-config-homepage
              - configMap:
                  name: homepage-config-services
              - configMap:
                  name: homepage-config-widgets
              - configMap:
                  name: homepage-config-bookmarks
              - configMap:
                  name: homepage-config-settings