apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wildcard-k3s-dawo9889-homelab-ovh
  namespace: cert-manager
spec:
  secretTemplate:
    annotations:
      reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
      reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
  secretName: wildcard-k3s-dawo9889-homelab-ovh-tls
  issuerRef:
    name: letsencrypt-cloudflare
    kind: ClusterIssuer
  dnsNames:
    - "*.k3s.dawo9889-homelab.ovh"
    - "k3s.dawo9889-homelab.ovh"
