---
- name: Post Install K3s Setup
  hosts: server
  become: true
  vars:
    kubeconfig_path: /etc/rancher/k3s/k3s.yaml

  tasks:
    - name: Install helm
      ansible.builtin.get_url:
        url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
        dest: /tmp/get_helm.sh
        mode: '0755'

    - name: Run helm install script
      shell: /tmp/get_helm.sh
      args:
        creates: /usr/local/bin/helm

    - name: Add Cert-Manger repository
      kubernetes.core.helm_repository:
        name: jetstack
        repo_url: "https://charts.jetstack.io"

    - name: Install Python3-pip
      ansible.builtin.package:
        name: python3-pip
        state: present
        update_cache: yes

    - name: Install Kubernetes Python Client
      ansible.builtin.pip:
        name: kubernetes
        extra_args: --break-system-packages

    - name: Install Cert-Manger
      kubernetes.core.helm:
        name: cert-manager
        chart_ref: jetstack/cert-manager
        release_namespace: cert-manager
        create_namespace: true
        kubeconfig: "{{ kubeconfig_path }}"
        values:
          installCRDs: true

    - name: Create Secret for Cloudflare API Token
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: cloudflare-api-token-secret
            namespace: cert-manager
          type: Opaque
          stringData:
            api-token: "{{ lookup('env', 'CLOUDFLARE_API_TOKEN') }}"

    - name: Copy ClusterIssuer File To Server
      ansible.builtin.copy:
        src: "{{ playbook_dir }}/../files/clusterIssuer.yml"
        dest: /tmp/clusterIssuer.yml

    - name: Apply ClusterIssuer Configuration
      kubernetes.core.k8s:
        state: present
        src: /tmp/clusterIssuer.yml
        kubeconfig: "{{ kubeconfig_path }}"

    - name: Add MetalLB Repository
      kubernetes.core.helm_repository:
        name: metallb
        repo_url: "https://metallb.github.io/metallb"

    - name: Install MetalLB
      kubernetes.core.helm:
        name: metallb
        chart_ref: metallb/metallb
        release_namespace: metallb-system
        create_namespace: true
        kubeconfig: "{{ kubeconfig_path }}"

    - name: Final cooldown for Webhook registration
      ansible.builtin.pause:
        seconds: 20

    - name: Configure IPAddressPool for MetalLB
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        definition:
          apiVersion: metallb.io/v1beta1
          kind: IPAddressPool
          metadata:
            name: default-address-pool
            namespace: metallb-system
          spec:
            addresses:
            - 192.168.1.13-192.168.1.13

    - name: Configure L2 Advertisement for MetalLB
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        definition:
          apiVersion: metallb.io/v1beta1
          kind: L2Advertisement
          metadata:
            name: default-l2-adv
            namespace: metallb-system

    - name: Add emberstack Repository
      kubernetes.core.helm_repository:
        name: emberstack
        repo_url: https://emberstack.github.io/helm-charts

    - name: Install Reflector
      kubernetes.core.helm:
        name: reflector
        chart_ref: emberstack/reflector
        release_namespace: kube-system
        kubeconfig: "{{ kubeconfig_path }}"

    - name: Generate Wildcard Certificate for Ingress
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        definition:
          apiVersion: cert-manager.io/v1
          kind: Certificate
          metadata:
            name: wildcard-k3s-dawo9889-homelab-ovh
            namespace: cert-manager
          spec:
            secretTemplate:
                annotations:
                  reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
                  reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
            secretName: wildcard-k3s-dawo9889-homelab-ovh-tls
            issuerRef:
              name: letsencrypt-cloudflare
              kind: ClusterIssuer
            dnsNames:
              - "*.k3s.dawo9889-homelab.ovh"
              - "k3s.dawo9889-homelab.ovh"
