---
- name: Install nfs common on all nodes
  hosts: all
  become: true
  tasks:
    - name: Install NFS client tools
      ansible.builtin.package:
        name: nfs-common
        state: present
        update_cache: yes


- name: Post Install K3s Setup
  hosts: server
  become: true
  vars:
    kubeconfig_path: /etc/rancher/k3s/k3s.yaml

  tasks:
    - name: Install NFS client on every node
      ansible.builtin.package:
        name: nfs-common
        state: present
        update_cache: yes

    - name: Install helm
      ansible.builtin.get_url:
        url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
        dest: /tmp/get_helm.sh
        mode: '0755'

    - name: Run helm install script
      shell: /tmp/get_helm.sh
      args:
        creates: /usr/local/bin/helm

    - name: Add Cert-Manger repository
      kubernetes.core.helm_repository:
        name: jetstack
        repo_url: "https://charts.jetstack.io"

    - name: Install Python3-pip
      ansible.builtin.package:
        name: python3-pip
        state: present
        update_cache: yes

    - name: Install Kubernetes Python Client
      ansible.builtin.pip:
        name: kubernetes
        extra_args: --break-system-packages

    - name: Install Cert-Manger
      kubernetes.core.helm:
        name: cert-manager
        chart_ref: jetstack/cert-manager
        release_namespace: cert-manager
        create_namespace: true
        kubeconfig: "{{ kubeconfig_path }}"
        values:
          installCRDs: true

    - name: Create Secret for Cloudflare API Token
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: cloudflare-api-token-secret
            namespace: cert-manager
          type: Opaque
          stringData:
            api-token: "{{ lookup('env', 'CLOUDFLARE_API_TOKEN') }}"

    - name: Copy ClusterIssuer File To Server
      ansible.builtin.copy:
        src: "{{ playbook_dir }}/../files/clusterIssuer.yml"
        dest: /tmp/clusterIssuer.yml

    - name: Apply ClusterIssuer Configuration
      kubernetes.core.k8s:
        state: present
        src: /tmp/clusterIssuer.yml
        kubeconfig: "{{ kubeconfig_path }}"

    - name: Add MetalLB Repository
      kubernetes.core.helm_repository:
        name: metallb
        repo_url: "https://metallb.github.io/metallb"

    - name: Install MetalLB
      kubernetes.core.helm:
        name: metallb
        chart_ref: metallb/metallb
        release_namespace: metallb-system
        create_namespace: true
        kubeconfig: "{{ kubeconfig_path }}"

    - name: Final cooldown for Webhook registration
      ansible.builtin.pause:
        seconds: 20

    - name: Copy MetalLB IPAddressPool to server
      ansible.builtin.copy:
        src: "{{ playbook_dir }}/../files/metallb-ipaddresspool.yml"
        dest: /tmp/metallb-ipaddresspool.yml

    - name: Apply MetalLB IPAddressPool
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        src: /tmp/metallb-ipaddresspool.yml

    - name: Copy MetalLB L2Advertisement to server
      ansible.builtin.copy:
        src: "{{ playbook_dir }}/../files/metallb-l2advert.yml"
        dest: /tmp/metallb-l2advert.yml

    - name: Apply MetalLB L2Advertisement
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        src: /tmp/metallb-l2advert.yml

    - name: Add emberstack Repository
      kubernetes.core.helm_repository:
        name: emberstack
        repo_url: https://emberstack.github.io/helm-charts

    - name: Install Reflector
      kubernetes.core.helm:
        name: reflector
        chart_ref: emberstack/reflector
        release_namespace: kube-system
        kubeconfig: "{{ kubeconfig_path }}"

    - name: Copy wildcard Certificate to server
      ansible.builtin.copy:
        src: "{{ playbook_dir }}/../files/wildcard-certificate.yml"
        dest: /tmp/wildcard-certificate.yml

    - name: Apply wildcard Certificate
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        src: /tmp/wildcard-certificate.yml

    - name: Add nfs-subdir-external-provisioner Repository
      kubernetes.core.helm_repository:
        name: nfs-subdir-external-provisioner
        repo_url: https://kubernetes-sigs.github.io/nfs-subdir-external-provisioner/

    - name: Install nfs-subdir-external-provisioner
      kubernetes.core.helm:
        name: nfs-provisioner
        chart_ref: nfs-subdir-external-provisioner/nfs-subdir-external-provisioner
        release_namespace: nfs-provisioner
        create_namespace: true
        kubeconfig: "{{ kubeconfig_path }}"
        values:
          nfs:
            server: "192.168.1.51"
            path: "/mnt/pool/k3s-data"
          storageClass:
            name: nfs-client
            defaultClass: true
            reclaimPolicy: Retain

    - name: Remove default status from local-path storage class
      kubernetes.core.k8s_json_patch:
        kubeconfig: "{{ kubeconfig_path }}"
        kind: StorageClass
        name: local-path
        patch:
          - op: add
            path: "/metadata/annotations/storageclass.kubernetes.io~1is-default-class"
            value: "false"

    - name: Creeate namespace for ArgoCD
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        kind: Namespace
        name: argocd

    - name: Install ArgoCD
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        src: https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
        namespace: argocd
    - name: Copy ArgoCD setup file to server
      ansible.builtin.copy:
        src: "{{ playbook_dir }}/../files/argocd-setup.yml"
        dest: /tmp/argocd-setup.yml

    - name: Configure ArgoCD Setup
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        src: /tmp/argocd-setup.yml
        state: present